*
!CASTLE_MANAGER_LOGOUT.lua
!CASTLE_MANAGER_LOGOUT.otui
!COMBO_ESPART_V3.lua
!ComboSystem.lua
!ComboSystem.otui
!ExivaController.lua
!ExivaController.otui
!holiday_aoe.lua
!last_hit_exalted_wolf.lua
!main.lua
!monster_claim_manager.lua
!targetbot/
!targetbot/target.lua
!targetbot/walking.lua
!holiday_aoe.otui
!README.md
!.gitignore

!nodejs-botserver-main/
!nodejs-botserver-main/**
nodejs-botserver-main/node_modules/**
nodejs-botserver-main/logs/**
nodejs-botserver-main/data/**
!nodejs-botserver-main/data/
!nodejs-botserver-main/data/nav-routes/
!nodejs-botserver-main/data/nav-routes/**
nodejs-botserver-main/data/dashboard-users.json
nodejs-botserver-main/data/tier-orbs.json
